.Dictionary {
  margin-top: 50px;
  margin-left: 20px;
}

.Dictionary section {
  background-color: #fafafa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
}

.Dictionary h1 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}
